*{
	font-family: 'Open Sans', sans-serif;
}

a:visited, a:link, a:focus, a:hover, a:active {
	list-style: none;
	text-decoration: none;
}

body {
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*=======================================
        = HEADER - CABECERA =
=========================================*/

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #322B4D;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

section article#inferior {
    float: left;
    width: 74%;
}

.txtpulgarcito {
    float: left;
    width: 37%;
}

.video {
    margin-bottom: 15px;
    padding: 27px 85px;
}

img {
    display: block;
    margin: auto;
}

#inicio {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 1.2em;
}

h2 {
    color: #2B1E24;
}

aside {
    float: left;
    width: 25%;
    margin-left: 1%;
}

.menu ul {
    list-style: none;
    margin: 30px 0 0 0;
}

.menu ul li {
    
    padding: 15px;
    position: relative;
    width: 100%;
    background-color: #322B4D;
    border-top: 1px solid #bdc3c7;
}

.menu ul a {
    color: #fff;
    text-decoration: none;
}

.menu ul a li i {
    margin-right: 15px;
}

.menu ul li:hover {
    background-color: #E2BDC4;
}

.menu ul a:hover {
    color: #322B4D;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: 0.8em;
    background-color: #322B4D;
    color: #fff;
    padding: 5px;
    max-width: 1200px;
    margin: 0px auto 15px auto;
}

footer p {
    margin: 5px;
}



